@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,skyblue, #0051ff);
}
header h1{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5em;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.589);
}
main section{
    margin: auto;
    width: 550px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507);
}
form label{
    font-size: 1.2em;
    margin-right: 5px;
}
form label:hover{
    cursor: pointer;
}
form input#inun{
    padding: 8px;
    border: none;
    background-image: linear-gradient(to right, cornflowerblue, skyblue);
    border-radius: 5px;
    color: black;
    width: calc(100% - 226px);
    margin-bottom: 10px;
}
div#resum{
    margin-bottom: 10px;
    font-size: 1.3em;
    background-color: rgba(206, 206, 206, 0.836);
    padding: 10px;
    border-radius: 10px;
}
input#verifica{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 80px;
    font-size: 1.2em;
    background-image: linear-gradient(to right, cornflowerblue, skyblue);
    margin-right: 5px;
    margin-bottom: 10px;
    transition-duration: 0.1s;
}
input#limpa{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 80px;
    font-size: 1.2em;
    background-image: linear-gradient(to right, cornflowerblue, skyblue);
    transition-duration: 0.1s;
}
input#limpa:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, white, white);
    border: 2px solid cornflowerblue;
    box-shadow: 0px 0px 10px rgb(49, 131, 255);
}
input#verifica:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, white, white);
    border: 2px solid cornflowerblue;
    box-shadow: 0px 0px 10px rgb(49, 131, 255);
}
div#resdois{
    font-size: 1.3em;
    background-color: rgba(206, 206, 206, 0.836);
    padding: 10px;
    border-radius: 10px;
}
footer{
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.568);
    text-align: center;
    transition-duration: 0.4s;
}
footer:hover{
    transform: translate(40px, 10px);
}
footer a{
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}